@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
--color-primary: #3B82F6;
  --color-secondary: #7C3AED;
  --bg-base-100: #F9FAFB;
  --bg-base-200: #E5E7EB;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #00D4FF;
  --color-secondary: #A259FF;
  --bg-base-100: #1F1F2E;
  --bg-base-200: #2C2C3A;
}


a.active {
  color: #3C65F5;
}

a.pending {
  color: blue;
}

/* input type number default arrow reset */
/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}